{{#each this}}
<button id="add-watched">ADD TO WATCHED</button>
<button id="remove-watched" class="hide">REMOVE FROM WATCHED</button>
<button id="add-queue">ADD TO QUEUE</button>
<button id="remove-queue" class="hide">REMOVE FROM QUEUE</button>
{{/each}}